CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=

STATE_KEY=
SCOPE=user-read-private user-read-email user-read-playback-state user-read-currently-playing user-top-read

NODE_ENV=production
SESSION_SECRET=change_me_to_a_random_secret_string
PORT=3443